@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 14px;
    font-family: Helvetica, Arial, "sans-serif";
    color: #252525;
    background-color: #f4f2f6;
    line-height: 1.3;
}

sup {
    font-size: 60%;
}

/* Shared flexboxes */
.row,
.column,
header.product,
.product-pricing,
.product-review,
.product-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo-container,
.menu-container,
.product-intro,
.product-pricing-text,
.product-price,
.product-review-title,
.product-stars {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

header.page {
    background-color: #fff;
}

.page-intro {
    text-align: center;
    max-width: 570px;
    margin: 64px 0;
}

.page-intro .product-title {
    font-size: 16px;
}

.page-intro .page-subtitle {
    font-size: 18px;
}

.logo-thumb {
    max-width: 100px;
}

.search-container {
    display: inline-block;
}

.menu-container {
    text-align: right;
    -ms-flex-line-pack: center;
    align-content: center;
    padding-right: 8px;
}

.uppercase {
    text-transform: uppercase;
}

input[type='text'] {
    border: 2px solid #61dce1;
}

/* Buttons and Inputs */
.btn,
input[type='text'] {
    padding: 8px 12px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    font-size: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #2a7abe;
    font-size: 12px;
    text-align: center;
    border: none;
}

.btn-primary:hover {
    background-color: #61dce1;
}

.btn-secondary {
    color: #fff;
    background-color: #61dce1;
    font-size: 10px;
    text-align: center;
    border: none;
    border: 2px solid #61dce1;
}

.btn-secondary:hover {
    background-color: #2a7abe;
    border: 2px solid #2a7abe;
}

/* Bones structure */
.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.column {
    max-width: 424px;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 16px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /* Page details */
}

.column .column-section {
    background-color: #fff;
    -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    margin: 0 0 8px 0;
}

.column .column-section .column-section-title {
    text-transform: uppercase;
    color: #898989;
    font-size: 10px;
    letter-spacing: 1px;
    padding-bottom: 4px;
    border-bottom: 1px solid #61dce1;
    margin-bottom: 16px;
}

.column .column-section,
.column header.product {
    padding: 16px 32px;
}

.column header.product {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 27;
    background-color: #fff;
    /* Product details */
}

.column header.product .product-intro {
    padding-right: 16px;
}

.column header.product .btn-primary,
.column header.product header.product .product-stars {
    margin-top: 4px;
}

.column header.product .add-to-cart {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.column header.product .product-thumb {
    max-width: 120px;
}

.column header.product .product-tagline {
    font-size: 10px;
    color: #898989;
    letter-spacing: 1px;
}

/* Stars */
:root {
    --star-size: 18px;
    --star-color: #a1a1a1;
    --star-background: #fc0;
}

.product-stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
    text-align: right;
}

.product-stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: -webkit-gradient(linear, left top, right top, from(var(--star-background)), to(var(--star-color)));
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    /* Pricing */
    /* Reviews */
    /* Features list*/
}

main .product-description {
    font-size: 14px;
    height: 100%;
}

main .product-pricing .product-pricing-text {
    padding-right: 16px;
}

main .product-pricing .product-price {
    font-size: 22px;
}

main .product-review {
    margin-bottom: 16px;
}

main .product-review .product-review-title {
    font-size: 14px;
}

main ul.product-features {
    list-style-position: inside;
    list-style: none;
}

main ul.product-features li {
    padding: 8px 0;
    display: flex;
}

main ul.product-features .fa-check-circle {
    color: #28d053;
    margin-right: 16px;
}

footer {
    text-align: center;
    margin-top: 64px;
}

@media (min-width: 320px) and (max-width: 479px) {

    /*@media (min-width: 320px) and (max-width: 480px) {*/
    header.product,
    .product-pricing,
    .product-review,
    .product-description {
        display: block;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 100%;
    }

    .page-intro {
        max-width: 100%;
        margin: 32px 0;
    }

    .column header.product {
        margin: 0 8px;
        padding: 8px;
    }

    .column header.product .product-intro {
        padding-right: 0px;
    }

    .column header.product .product-image {
        text-align: center;
    }

    .column header.product .product-title {
        font-size: 14px;
    }

    .btn-primary {
        font-size: 10px;
    }

    .btn-primary,
    header.product .product-stars {
        margin-top: 8px;
    }

    .column {
        margin: 0;
        width: 50%;
    }

    .column .column-section {
        padding: 8px;
        margin: 0 8px 4px;
    }

    .column .fa-check-circle {
        color: #28d053;
        margin-right: 8px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    p {
        font-size: 12px;
    }

    .column-section,
    header.product {
        padding: 16px;
    }
}

/*# sourceMappingURL=styles2.css.map */
